.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 99vw;
    height: 100%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 20px;
}
.stockList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    width: 80%;
}

